::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #2f3042;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	color: white;
	background-color: #14151f;
	height: 100vh;
}

.soshalTimeline {
	width: 500px;
	height: 100%;
	padding: 10px 5px;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
}

.soshalTHeader {
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	background-color: #1e2039;
}

.soshalTPosts {
	overflow-y: scroll;
	flex-grow: 1;
}

.soshalPost {
	background-color: #181925;
}

.soshalPMedia img {
	width: 100%;
}